<mat-toolbar class="top-header">
  <span class="spacer"></span>

  <div class="header-actions">
    <span class="current-date">
      {{ currentDate | date:'MMMM d, y' }}
    </span>

    <div class="user-info" *ngIf="username" (click)="goToProfile()" title="Edit profile">
      <div class="user-avatar">{{ username[0].toUpperCase() }}</div>
      <div class="user-meta">
        <span class="user-name">{{ username }}</span>
        <span class="user-role">{{ teamName ?? (role | titlecase) }}</span>
      </div>
    </div>

    <button mat-icon-button title="Logout" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>
