/* You can add global styles to this file, and also import other style files */
:root {
  --primary-red: rgb(128 0 0);
  --primary-blue: #001f3e;
  --color-bg-light: #f8f9fb;
  --color-white: #ffffff;
  --text-muted: #bcbec2;
}

body {
  background-color: var(--color-bg-light);
  color: var(--primary-red) !important;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.pdf-import-panel .mat-mdc-dialog-container {
  padding: 0 !important;
  border-radius: 12px !important;
  overflow: hidden;
}
